<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KHWaveView_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC7951881DA909CC003A90BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC7951A11DA909CC003A90BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC7951AC1DA909CC003A90BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
